layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      // plugin location="zellij:compact-bar"
      plugin location="zjstatus" {
        format_left   "{mode} #[fg=cyan,bold] {session} {command_git_branch}"
        format_center "{tabs}"
        format_right  "{datetime}"
        format_space  ""

        border_enabled  "true"
        border_char     "─"
        border_format   "#[fg=blue{char}"
        border_position "top"

        hide_frame_for_single_pane "false"

        mode_normal  "#[fg=black,bg=blue,bold] {name} "
        mode_tmux    "#[bg=orange,bold] {name} "

        tab_normal   "#[fg=white,bg=black,italic] {name} "
        tab_active   "#[fg=black,bg=magenta,bold] {name} "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=magenta]  {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        datetime        "#[fg=black,bg=red,bold] {format} "
        datetime_format "%A, %d %b %Y %I:%M %p"
        datetime_timezone "America/Mexico_City"
      }
    }
  }

  tab name="editor" focus=true {
    pane command="nvim" focus=true
  }

  tab name="cli" split_direction="horizontal" {
    pane
    pane
  }
}
